/* CSS styles for the portfolio */

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 2rem 0; /* Keep padding for top and bottom */
    position: relative; /* Required for positioning the .main-nav */
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-size: 2rem;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
    font-size: 1rem;
}

nav {
    background-color: rgba(21, 153, 87, 0.8); /* Adjust background color and opacity as needed */
    position: absolute; /* Initially position within the header */
    top: 100%; /* Position at the bottom of the header */
    width: 100%;
    transition: top 0.3s cubic-bezier(0.11, 0.03, 0, 1.5);
}

nav.fixed {
    position: fixed; /* Position fixed when scrolling down */
    top: 0;
    width: calc(100% - 16px);
    z-index: 1000; /* Ensure the nav stays above other content */
    transition: bottom 0.5s ease, position 0.5s ease;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
}

body {
    margin: 8px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 1.5rem; /* Adjust padding as needed */
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust background color and opacity as needed */
}

.content {
    padding-top: 60px; /* Adjust this value to ensure content is not hidden under the fixed header */
    margin-top: 20px; /* Adjust this value to add space below the fixed header */
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}
